<% provide(:title, "予約枠一覧") %>
<h1>予約枠一覧</h1>

<%= link_to "新規作成", new_time_slot_path, class: "btn btn-primary mb-3" %>

<%= render "calendar", existing_slots: @existing_slots, view_mode: true, editing_time_slot: nil %>
