<footer class="footer mt-5">
  <div class="container">
    <small>
      FP予約管理システム by <%= link_to "Your Team", "#" %>
    </small>
    <nav>
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><%= link_to "About", about_path %></li>
        <li class="list-inline-item"><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
